<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">












<!--spare part admin java script-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>




    <link href="spareparts/css/bootstrap.min.css" rel="stylesheet">
    <link href="spareparts/css/font-awesome.min.css" rel="stylesheet">
    <link href="spareparts/css/prettyPhoto.css" rel="stylesheet">
    <link href="spareparts/css/price-range.css" rel="stylesheet">
    <link href="spareparts/css/animate.css" rel="stylesheet">
	<link href="spareparts/css/main.css" rel="stylesheet">
	<link href="spareparts/css/responsive.css" rel="stylesheet">

    <link rel="shortcut icon" href="spareparts/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="spareparts/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="spareparts/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="spareparts/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="spareparts/images/ico/apple-touch-icon-57-precomposed.png">




<!--main vehicle-->

<link rel="stylesheet" href="/asse/css/style1.css" type="text/css">
 <link rel="stylesheet" href="/asse/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/asse/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/asse/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/asse/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/asse/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/asse/css/slicknav.min.css" type="text/css">
 



    <script src="/asse/js/jquery-3.3.1.min.js"></script>
<script src="/asse/js/jquery.magnific-popup.min.js"></script>
<script src="/asse/js/jquery-ui.min.js"></script>
<script src="/asse/js/mixitup.min.js"></script>
<script src="/asse/js/jquery.countdown.min.js"></script>
<script src="/asse/js/jquery.slicknav.js"></script>
<script src="/asse/js/owl.carousel.min.js"></script>
<script src="/asse/js/jquery.nicescroll.min.js"></script>
<script src="/asse/js/main1.js"></script>



    <title>Shashika importers</title>
</head>
<body>
    {{{body}}}
</body>
</html>